<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/20d26b06-b086-4d70-bd5e-ff6bcc6ed4f8/resourcegroups/DefaultResourceGroup-EUS/providers/Microsoft.ContainerRegistry/registries/AcademiaAPI20260903194117</ContainerResourceId>
    <ContainerResourceName>AcademiaAPI20260903194117</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>academiaapi20260903194117.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>academiaapi</ContainerName>
    <EnvironmentName>AcademiaAPI-env-20260903193401</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://academiaapi-app-20260903193926.greensmoke-c30d4d30.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/20d26b06-b086-4d70-bd5e-ff6bcc6ed4f8/resourceGroups/DefaultResourceGroup-EUS/providers/Microsoft.App/containerApps/academiaapi-app-20260903193926</ResourceId>
    <ResourceGroup>DefaultResourceGroup-EUS</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>